<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="db" connectionString="Data Source=localhost\SQLSERVER2008; Initial catalog=GD2C2013; user id=gd; password=gd2013"></add>
  </connectionStrings>
  <appSettings>
    <add key ="fechaSistema" value = "2014-01-02T07:00:00"/>
  </appSettings>
</configuration>