<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="db" connectionString="Data Source=localhost\SQLSERVER2008; Initial catalog=GD1C2014; User ID=gd; Password=gd2014"></add>
  </connectionStrings>
  <appSettings>
    <add key ="fechaSistema" value = "2014-07-18T07:00:00"/>
  </appSettings>
</configuration>