<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FrbaCommerce.Properties.Settings.GD1C2014" connectionString="Data Source=ALE-UB01\SQLSERVER2008;User ID=gd;Password=gd2014"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>